<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Le Crap{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/flat-ui.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
  </head>
  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div> <!-- /container -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="span7">
            <h3 class="footer-title">WIP</h3>
            <p><a href="/main/demo">flat-ui demo</a></p>

          </div> <!-- /span8 -->

          <div class="span5">
            <div class="footer-banner">
              <h3 class="footer-title">Powered By</h3>
              <ul>
                <li>Chicago Boss</li>
                <li>Ember.js</li>
                <li>Bootstrap / Flat UI</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Load JS here for greater good =============================-->
    <script src="/static/js/require.js"></script>
    <script type="text/javascript">
require.config({
  baseUrl: '/static/js/',
  paths: {
    'jquery': 'jquery-1.9.1'
  }
});

require(['app'], function(App) {
  App.initialize('dummyuser');
})
    </script>
  </body>
</html>
